.task-item{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.task-item span{
    color: black;
}
.task-item div{
    display: flex;
    gap: 10px;
}

.task-item button{
    background: none;
    color: black;
    padding: 0;
}