#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow-y: hidden;
}

/* body{
  border: 2px solid red;
} */

.todo h1{
  background-color: #A879E2;
  font-size: 1.5rem;
  padding: 10px;
  /* border: 2px solid red; */
}

.tasks{
  background-color: white;
  padding: 20px;
  /* border: 2px solid red; */
}

.footer{
  background-color: #A879E2;
  font-weight: bold;
  padding: 10px;
  position: absolute;
  bottom: -10px;
  width: 100%;
  left: 0;
}

@media screen and (max-width:467px) {
  .tasks{
    min-height: 50vh;
    width: 90%;
    position: relative;
  }

  .todo h1{
    width: 95%;
  }
}